div.gallery {
    width: 250px;
    margin: 5px;
    border: 1px solid #ccc;
    height: 320px;
    border-radius: 10px;
  }
  div.gallery:hover {
    box-shadow: 2px 2px 8px lightgray;
  }
  div.gallery img {
    background-size: cover;
    width: 250px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  div.gallery img:hover {
    opacity: 1;
    box-shadow: inset 0 -10px 10px -10px blue;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    width: 300px;
    height: 60px;
  }
  /* .contenant1 {
    margin: 5px;
   
    background: url("images/Quelques astuces de publicitaires pour tricher avec la nourriture.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant1:hover {
    opacity: 1;
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant1:hover .overlay {
    opacity: 1;
  }
  .contenant1:hover .img_plus {
    opacity: 1;
  }
   */
  /* .contenant2 {
    margin: 5px;
   
    background: url("images/Nourriture épicée avantages et inconvénients.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant2:hover {
    opacity: 1;
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant2:hover .overlay {
    opacity: 1;
  }
  .contenant2:hover .img_plus {
    opacity: 1;
  }
  
  .contenant3 {
    margin: 5px;
   
    background: url("images/Utiliser de la nourriture pour emballer de la nourriture.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant3:hover {
    opacity: 1; */
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant3:hover .overlay {
    opacity: 1;
  }
  .contenant3:hover .img_plus {
    opacity: 1;
  }
  
  .contenant4 {
    margin: 5px;
   
    background: url("images/Bon appétit - Nourriture - Crevettes - Citrons - Wallpaper - Free.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant4:hover {
    opacity: 1; */
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant4:hover .overlay {
    opacity: 1;
  }
  .contenant4:hover .img_plus {
    opacity: 1;
  }
  
  .contenant5 {
    margin: 5px;
   
    background: url("images/Délices culinaires - la nourriture asiatique en 80 photos délicieuses.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant5:hover {
    opacity: 1;
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant5:hover .overlay {
    opacity: 1;
  }
  .contenant5:hover .img_plus {
    opacity: 1;
  }
  
  .contenant6 {
    margin: 5px;
   
    background: url("images/Gaspillage alimentaire  66 tonnes de nourriture jetées par seconde d.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  } */
  /* .contenant6:hover {
    opacity: 1; */
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant6:hover .overlay {
    opacity: 1;
  }
  .contenant6:hover .img_plus {
    opacity: 1;
  } */
  
  /* .contenant7 {
    margin: 5px;
   
    background: url("images/J’ai mangé de la nourriture pour animaux - URBANIA.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant7:hover {
    opacity: 1;
    box-shadow: inset 10px 10px 10px blue; */
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant7:hover .overlay {
    opacity: 1;
  }
  .contenant7:hover .img_plus {
    opacity: 1;
  } */ 
  
  /* .contenant8 {
    margin: 5px;
   
    background: url("images/J’ai mangé de la nourriture pour animaux - URBANIA_.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant8:hover {
    opacity: 1; */
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant8:hover .overlay {
    opacity: 1;
  }
  .contenant8:hover .img_plus {
    opacity: 1;
  }
  
  .contenant9 {
    margin: 5px;
    */
    /* background: url("images/La nourriture bio, bonne pour la santé - Pieuvre.ca.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant9:hover {
    opacity: 1; */
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant9:hover .overlay {
    opacity: 1;
  }
  .contenant9:hover .img_plus {
    opacity: 1;
  }
  
  .contenant10 {
    margin: 5px;
   
    background: url("images/Nourriture déshydratée  Quels avantages - Devenir survialiste.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  } */
  /* .contenant10:hover {
    opacity: 1; */
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant10:hover .overlay {
    opacity: 1;
  }
  .contenant10:hover .img_plus {
    opacity: 1;
  }
  
   .gallery{
    margin: 5px;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  } */
  /* .div.gallery img :hover {
    opacity: 1; 
    box-shadow: inset 10px 10px 10px blue;
     box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   div.gallery img :hover .overlay {
    opacity: 1;
  }
  div.gallery img :hover .desc {
    opacity: 1;
  } */

  /*.contenant12 {
    margin: 5px;
   
    background: url("images/Nourriture pour chinchilla Premium 12,5 Kg - Elevage - Ducatillon.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant12:hover {
    opacity: 1; */
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant12:hover .overlay {
    opacity: 1;
  }
  .contenant12:hover .img_plus {
    opacity: 1;
  }
  
  .contenant13 {
    margin: 5px;
   
    background: url("images/Nourriture poissons Zolux - Poissons d'ornement de Nourriture poisson.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant13:hover {
    opacity: 1; */
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant13:hover .overlay {
    opacity: 1;
  }
  .contenant13:hover .img_plus {
    opacity: 1;
  }
  
  .contenant14 {
    margin: 5px;
   
    background: url("images/NRêve de Nourriture - La Voix des Rêves.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant14:hover {
    opacity: 1; */
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant14:hover .overlay {
    opacity: 1;
  }
  .contenant14:hover .img_plus {
    opacity: 1;
  }
  
  .contenant15 {
    margin: 5px;
   
    background: url("images/Nourriture - Page 29.jpg") no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
    margin-left: 0;
    margin-top: 0;
    
  }
  .contenant15:hover {
    opacity: 1; */
    /*box-shadow: inset 10px 10px 10px blue;*/
    /* box-shadow: inset 0 -60px 10px 4px rgba(0, 0, 0, 0.5);
  
  }
   .contenant15:hover .overlay {
    opacity: 1;
  }
  .contenant15:hover .img_plus {
    opacity: 1;
  } */ 
  
  
  /* texte dans image */
  /* .overlay {
    
    margin-left: 10px;
    margin-bottom: -10px;  
    opacity: 0;
    transition: .5s ease;
    opacity:0;
    color: white;
    vertical-align: text-bottom;
    font-size: 11px;
    float: left;
    text-align: left;
    margin-top: 205px;
  
  } */
  
  /* la petite image sur l'image */
  /* .img_plus {
    
    opacity: 0;
    transition: .5s ease;  
    text-align: right;
    height:40px;
    width:40px;
  
    
  }
   
  #commentaire { */
      
      /*border-style: solid;
      border-color: lightgray;
      border: solid 1px;
      height: 30px;
      width: 130px;
      text-align: right;
      float: right;*/
        /* background: #f2f2f2;
      border: 1px solid #999;
      bottom: 0;
      color: #36b;
      cursor: pointer;
      display: block;
      height: 28px;
      line-height: 28px;
      min-width: 110px;
      padding: 0 5px;
      position: fixed;
      right: 20px;
      text-align: center;
      z-index: 4;
      font-family:'Roboto',Helvetica,Sans-Serif;
      font-size: 13px;
  
  
  
  } */
  /*caroussel*/
  /* .swiper {
        
  
        }
  
  .swiper-slide {
          
          font-size: 10px;
          background: #fff;
           margin: 5px;
      display: flex;
      border-radius: 50px;   
      border: 0.5px solid skyblue;
      height: 55px;       
          Centerslide :text vertically;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
   */
  /*fin caroussel*/
  
          /* .div_text_scroll {
              font-size: 15px;
              width: 90px;
              height: 50px;
              margin-left: 6px;
              margin-bottom: -8px;
          }
          .img_scroll {
              
              margin-left: 0;
              border-radius: 60px;
          } */
      
          head {
              min-width: 1000px;
          }
          body {
              min-width: 1000px;
          }
  
  